// Slideout Menu
.button {
  @apply flex items-center justify-center h-12 cursor-pointer rounded-5sm px-8 font-semibold uppercase;

  transition: box-shadow 0.1s;

  &.extended {
    @apply px-16
  }

  &.shortened {
    @apply px-4
  }

  &.disabled {
    @apply text-white;
    background-color: #8E98A0;
  }

  &.disabled {
    @apply text-white;
    background-color: #8E98A0;
    pointer-events: none;
  }

  &.primary {
    @apply text-white;
    box-shadow: 0 3px 10px 0 rgba(0, 211, 115, 0.36);
    background-image: linear-gradient(94.05deg, #11998E 1.74%, #38EF7D 100%);
    &.wallet {
      border: none;
      @apply h-12;
    }
  }

  &.secondary {
    @apply text-white;
    box-shadow: 0 3px 10px 0 #00a4da5c;
    background-image: linear-gradient(76deg, #00b0e7 -3%, #0098cd 99%);
  }

  &.opensea {
    @apply text-white;
    box-shadow: 0 3px 10px 0 #3391e854;
    background-image: linear-gradient(82deg, #3391e8 -3%, #0d71ce 100%);
  }

  &.light {
    @apply bg-white text-black;
  }

  &.dark {
    @apply bg-black text-white;
  }

  &.outline {
    @apply bg-transparent;
    border-color: #130B27;
    border-width: 2px;
  }

  &.dark-mode-outline {
    @apply border-white;
    border-width: 1px;
  }

  &.dropdown-btn {
    @apply text-md justify-start w-full;
  }

  &.account-button {
    @apply h-15;
  }

  .icon-left {
    margin-left: -10px;
    margin-right: 12px;
  }

  .icon-right {
    margin-left: 12px;
    margin-right: -10px;
  }

  &:focus {
    transition: box-shadow 0.1s;
    outline: none!important;
    box-shadow: 0px 0px 3px rgb(0, 100, 255), 0px 0px 3px rgb(0, 100, 255), 0px 0px 3px rgb(0, 100, 255)!important;
  }
}
