// Slideout Menu
.button {
  @apply flex items-center justify-center border h-13 cursor-pointer rounded-md px-8 font-semibold border-transparent capitalize;

  &.primary {
    @apply text-white;
    box-shadow: 0 3px 10px 0 rgba(0, 211, 115, 0.36);
    background-image: linear-gradient(78deg, #34ca98 -3%, #00b97b 99%);
    &.wallet {
      @apply h-15;
    }
  }

  &.secondary {
    @apply text-white;
    box-shadow: 0 3px 10px 0 #00a4da5c;
    background-image: linear-gradient(76deg, #00b0e7 -3%, #0098cd 99%);
  }


  &.light {
    @apply bg-white text-black;
  }

  &.dark {
    @apply bg-black text-white;
  }

  &.outline {
    @apply bg-transparent text-black border-gray-400;
    border-width: 2px;
  }

  &.dropdown-btn {
    @apply text-md justify-start w-full;
  }

  &.account-button {
    @apply h-15;
  }

  .icon-left {
    margin-left: -10px;
    margin-right: 24px;
  }

  .icon-right {
    margin-left: 24px;
    margin-right: -10px;
  }
}
