// Non component specific styles

.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.centered-quote {
  transform: translate3d(0, -50%, 0);
}

.rounded-container {
  @apply rounded-xl overflow-hidden bg-background-gray border p-6;
  align-items: center;
}

.rounded-container-reduced-vertical-padding {
  @apply rounded-xl overflow-hidden bg-background-gray border px-6 py-3;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.flex {
  display: flex;
}

.flex-center-column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex-center-vertical {
  display: flex;
  align-items: center;
}

.text-shadow {
  text-shadow: 0 1px 1px #00000040;
}
.routing-link {
  .active {
    @apply opacity-100 border-b-2;
    border-color: #34ca98;
  }
}

.bg-rainbow {
  background-image: linear-gradient(
    to right,
    #03ba7d 0%,
    #009fd4 54%,
    #665be8 100%
  );
}

.bg-progress-bar-vibrant {
  background-image: linear-gradient( 78.1deg, rgba(255,19,15,1) 5.5%, rgba(177,14,236,1) 92.8% );
}

.bg-green-progress-bar {
  background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(4,159,108,1) 0%, rgb(0, 224, 0) 90.1% );
}

.bg-progress-bar-blue {
  background-image: linear-gradient( 78.1deg,  rgb(14, 92, 236) 5.5%, rgb(0, 89, 255) 92.8% );
}

.bg-progress-bar-green-vibrant {
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #3fff00 0%, #00cd00 90.1%);
}

.bg-progress-bar-green-gradient {
  background-image: radial-gradient(circle farthest-corner at 10% 20%, #11998E 0%, #38EF7D 90.1%);
}

.absolute {
  position: absolute;
}

.transform-horizontal-center {
  left: 50%;
  transform: translateX(-50%);
}

.transform-vertical-center {
  transform: translateY(-50%);
}

.text-green-gradient {
  background: -webkit-linear-gradient(0deg, #11998e 1.74%, #38ef7d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #26c785;
}

.overflow-auto {
  overflow: auto;
}

.bg-dark-blue {
  background-color: #0071D9;
}

.active-green-icon {
  filter: brightness(0) saturate(100%) invert(65%) sepia(65%) saturate(420%)
    hue-rotate(109deg) brightness(89%) contrast(91%) !important;
}

.p-toast .p-toast-message .p-toast-message-content {
  border-width: 0 !important;
}


.error-notice {
  @apply font-normal text-red-500 text-xs mt-2;
}

.input-helper {
  @apply font-normal text-gray-500 text-xs mt-2;
}

.clickable-blue-text {
  @apply font-bold text-blue-500 text-xs mt-2;
  cursor: pointer;
}

.clickable-text {
  @apply font-bold text-xs mt-2;
  cursor: pointer;
}

.clickable {
  cursor: pointer;
}

.abstract-circles {
  position: absolute;
  z-index: -1;
}

.p-overlaypanel .p-overlaypanel-content {
  padding: 0rem !important;
}
.p-overlaypanel {
  margin-top: 0 !important;
}
.p-overlaypanel:before, .p-overlaypanel:after {
  display: none;
}

.profile-avatar {
  height: 100%;
  width: 100%;
  background-size: cover;
}

.bg-white {
  transition: background-color 0.1s linear;
}

.dark-mode-background {
  transition: background-color 0.15s linear;
  background-color: #000000;
}

.no-border {
  border: none;
}

.black-border {
  border-color: black;
}

.dark-mode-surface {
  background-color: #333333;
}

.dark-mode-surface-darkened {
  background-color: #222222;
  .p-dialog-header, .p-dialog-content {
    background-color: #222222!important;
    color: white!important;
  }
}

.image-filter-black-to-white {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);
}

.light-mode-surface {
  background-color: #f5f4f3;
}

.light-mode-background {
  transition: background-color 0.15s linear;
  background-color: #FFFFFF;
}

.dark-mode-text {
  color: white;
}

.dark-mode-text-washed {
  color: rgba(255, 255, 255, 0.85)!important;
}

.light-mode-text-washed {
  color: #8E98A0!important;
}

.green-link {
  color: #1ebc87;
  font-weight: bold;
}

.dark-mode-section {
  border-bottom: 1px solid #262626;
  border-top: 1px solid #262626;
}

.light-self-create-back-button {
  position: absolute;
  top: -35px;
}

.secondary-market-listing-back-button {
  position: absolute;
}

.transparent-border-section {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}

.force-monospace {
  font-family: monospace!important;
}

.opacity-0-2 {
  opacity: 0.2;
}

.hero-media-shadow {
  filter: drop-shadow(0px 30px 40px rgba(142, 152, 160, 0.15));
}

.rounded-20px {
  border-radius: 20px;
}

.rounded-t-20px {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.rounded-b-20px {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.bg-light-grey {
  background-color: #ebeef266;
}

.bg-light-grey-darkened {
  background-color: #E0E4EB;
}

.placeholder-light-grey {
  background-color: #DFE4E9;
}

.auto-margins {
  margin: auto;
}

.opacity-0-6 {
  opacity: 0.6;
}

.auto-horizontal-margins {
  margin-left: auto;
  margin-right: auto;
}

.disabled {
  cursor: auto;
  pointer-events: none;
}

.cursor-not-allowed {
  cursor: not-allowed;
}

.disable-text-transform {
  text-transform: none;
}

.error-text {
  color: #ff0000cc;
}

.green-text {
  color: #26c785;
}

.light-green-text {
  color: #37ee7c;
}

.clickable {
  cursor: pointer;
}

.input-inner-label {
  position: relative;
  input {
    padding-right: 70px;
  }
}

.input-icon-label {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.metadata-property-grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
}

.metadata-property-grid-item {
  @apply border rounded-md border-gray-200;
}

.absolute-full-width-and-height {
  position: absolute;
  width: 100%;
  height: 100%;
}

.self-align-absolute-item {
  transform: translateX(-50%);
  left: 50%;
}

.max-width-none {
  max-width: none;
}

@keyframes p-progress-spinner-color {
  100%,
  0% {
      stroke: #38EF7D;
  }
  40% {
      stroke: #2cdc00;
  }
  66% {
      stroke: #2cdc00;
  }
  80%,
  90% {
      stroke: #38EF7D;
  }
}