.input-group {
  @apply flex flex-col flex-1;

  label {
    @apply block mb-2 font-semibold text-sm uppercase;
  }
}

.outlined-input {
  @apply flex items-center border rounded-md border-gray-200 px-5;
  height: 60px;
  border-width: 2px;

  &:hover,
  &:focus {
    @apply border-black;
  }

  .p-dropdown-label {
    font-size: 15px;
    color: black;
    text-transform: none;
    margin-top: 0;
    padding-left: 0;
  }
}

.p-calendar .p-inputtext {
  padding:0!important;
  border: none;
  &:enabled:focus {
    box-shadow: none;
  }
}

.p-chips {
  @apply flex items-center border rounded-md border-gray-200 px-5;
  height: 60px;
  border-width: 2px;

  &:hover,
  &:focus {
    @apply border-black;
  }

  .p-dropdown-label {
    font-size: 15px;
    color: black;
    text-transform: none;
    margin-top: 0;
    padding-left: 0;
  }
}

.p-chips .p-chips-multiple-container {
  padding: 0!important;
  border: none!important;
  width: 100%;
}

.p-chips .p-chips-multiple-container:not(.p-disabled).p-focus {
  box-shadow: none!important;
}

.p-chips .p-chips-multiple-container .p-chips-input-token {
  padding: 0!important;
}

.p-radiobutton .p-radiobutton-box.p-highlight {
  border-color: #38EF7D;
  background: #38EF7D;
}

.p-radiobutton .p-radiobutton-box.p-highlight:not(.p-disabled):hover {
  border-color: #26c785;
  background: #26c785;
}

.p-radiobutton .p-radiobutton-box:not(.p-disabled).p-focus {
  box-shadow: 0 0 0 0.2rem #eafbf3;
  border-color: #eafbf3;
}

.p-radiobutton .p-radiobutton-box:not(.p-disabled):not(.p-highlight):hover {
  border-color: #49da81;
}

.outlined-input-checkbox {
  @apply border rounded-xl border-gray-200 px-5;
  height: 25px;
  width: 25px;
  margin-right: 10px;
  border-width: 2px;

  &:hover,
  &:focus {
    @apply border-black;
  }

  .p-dropdown-label {
    font-size: 15px;
    color: black;
    text-transform: none;
    margin-top: 0;
    padding-left: 0;
  }
}

input {
  @apply outline-none flex-grow;
  height: 56px;
  min-width: 0;
  border-color: transparent;
}

textarea {
  @apply outline-none flex-grow p-6;
  min-height: 140px;
}

.validation-error {
  display: none;
}

.invalid-outline {
  --tw-border-opacity: 1;
  border-color: rgba(239, 68, 68, var(--tw-border-opacity))!important;
}

form.dirty {
  input,
  textarea {
    &:invalid {
      &.outlined-input {
        @apply border-red-500;
      }

      + .validation-error {
        display: block;
      }
    }
  }
}

.p-slider .p-slider-range {
  background: #26c785;
}

.p-slider .p-slider-handle {
  border: 2px solid #26c785;
}

.p-slider:not(.p-disabled) .p-slider-handle:hover {
  background: #26c785;
  border-color: #26c785;
}