// Import Swiper styles
/*! purgecss start ignore */
@import 'swiper/swiper.scss';
@import 'swiper/components/navigation/navigation.scss';
@import 'swiper/components/pagination/pagination.scss';
@import 'swiper/components/scrollbar/scrollbar.scss';
/*! purgecss end ignore */

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  margin: 0 8px 0 0 !important;
  background-color: #d8d8d8 !important;
  border-radius: 50%;
  outline: none !important;
  opacity: 1;
  &.swiper-pagination-bullet-active {
    background-color: #000000 !important;
  }
}

.swiper-button-next, .swiper-button-prev {
  width: 48px;
  height: 48px;
  padding: 18px 15px 18px 14px;
  box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  border-radius: 50%;
  top: calc(50% - 1.5rem);
  &:after {
    display: none;
  }
  &:focus {
    outline: none;
  }
}
.swiper-button-prev {
  transform: rotate(-180deg);
}