// Import Swiper styles
/*! purgecss start ignore */
@import 'swiper/swiper.scss';
@import 'swiper/components/navigation/navigation.scss';
@import 'swiper/components/pagination/pagination.scss';
@import 'swiper/components/scrollbar/scrollbar.scss';
/*! purgecss end ignore */

.swiper-container {
  margin-left: 0 !important;
  margin-right: 0 !important;
  width: 100% !important;
}
.swiper-wrapper {
  align-items: center;
}
.solo-gallery > .swiper-container > .swiper-wrapper {
  display: flex;
  justify-content: center; 
}
.swiper-pagination {
  .swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
    margin: 0 8px 0 0 !important;
    background-color: #d8d8d8 !important;
    border-radius: 50%;
    outline: none !important;
    opacity: 1;
    &.swiper-pagination-bullet-active {
      background-color: #000000 !important;
    }
  }
}

.swiper-pagination-dark-mode-active {
  .swiper-pagination-bullet {
    background-color: #797979 !important;
    &.swiper-pagination-bullet-active {
      background-color: #FFFFFF !important;
    }
  }
}

.swiper-button-next, .swiper-button-prev {
  width: 48px;
  height: 48px;
  padding: 18px 15px 18px 14px;
  box-shadow: 0 1px 15px 0 rgba(0, 0, 0, 0.15);
  background-color: #ffffff;
  border-radius: 50%;
  top: calc(50% - 1.2rem);
  &:after {
    display: none;
  }
  &:focus {
    outline: none;
  }
}
.swiper-button-prev {
  transform: rotate(-180deg);
}

.gallery {
  max-height: 650px;
  margin-bottom: 4rem;
  margin-top: 2rem;
  margin: 2rem auto 4rem auto;
  max-width: 1700px;
  position: relative;
  height: calc(100vw * 0.44 - 100px);

  .swiper-slide {
    max-width: 450px;
    transition: all .5s;
  }
  .dark-mode-slide {
    img, video {
      opacity: 0.2
    }
  }
  .light-mode-slide {
    img, video {
      opacity: 0.2
    }
  }
  .swiper-slide-active {
    img, video {
      opacity: 1;
    }
  }
  .swiper-slide-active {
    max-width: 600px;
    opacity: 1;
    transition: all .2s;
    cursor: pointer;
    img, video {
      opacity: 1;
      transition: all .2s;
      &:hover {
        transition: all .2s;
        opacity: 0.9;
      }
    }
  }
  
  .swiper-button-prev {
    left: calc(12.5% - 1.5rem);
  }
  .swiper-button-next {
    right: calc(12.5% - 1.5rem);
  }
  .swiper-pagination {
    bottom: -4rem;
  }
}

@media screen and (max-width:600px) {
  .gallery {
    @apply mb-0;
    height: calc(100vw);
    .swiper-slide {
      width: 100% !important;
      max-width: 600px !important;
      opacity: 1 !important;
    }
    .swiper-pagination {
      bottom: -2.5rem;
    }
  }
}
@media screen and (min-width:601px) {
  .gallery {
    .swiper-slide {
      align-self: center;
      &.swiper-slide-prev {
        width: 25% !important;
      }
      &.swiper-slide-active {
        width: calc(50% - 100px) !important;
  
        &+.swiper-slide {
          width: 25% !important;
        }
      }
    }
  }
}

@media screen and (min-width:900px) {
  .gallery {
    .swiper-slide {
      align-self: center;
      &.swiper-slide-prev {
        width: 28% !important;
      }
      &.swiper-slide-active {
        width: calc(44% - 100px) !important;
  
        &+.swiper-slide {
          width: 28% !important;
        }
      }
    }
    .swiper-button-prev {
      left: calc(14% - 1.5rem);
    }
    .swiper-button-next {
      right: calc(14% - 1.5rem);
    }
    .swiper-pagination {
      bottom: -3rem;
    }
  }
}

@media screen and (min-width:1440px){
  .gallery {
    .swiper-slide {
      align-self: center;
      max-width: 500px;
  
      &.swiper-slide-prev {
        width: 26% !important;
      }
      &.swiper-slide-active {
        width: calc(48% - 200px) !important;
        max-width: 700px;
  
        &+.swiper-slide {
          width: 26% !important;
        }
      }
    }
    .swiper-pagination {
      bottom: -2rem;
    }
    .swiper-button-prev {
      left: calc(13% - 1.5rem);
    }
    .swiper-button-next {
      right: calc(13% - 1.5rem);
    }
  }
}